html {
    height: 100%;
    width: 100%;
}

body {
    position: absolute;
    height: 97%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    background: #e7ebf0;
}

#main {
    background: #fff;
    max-width: 1010px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 2px solid #dfe5ec;
    box-sizing: border-box;
}

#owner-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    /* box-sizing: border-box; */
    min-height: 48px;
    color: white;
    background: #5682a3;
}

#show-online-users {
    cursor: pointer;
    background-image: url("..//assets/online.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    margin-left: 160px;
}

#current-chatting-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    min-height: 48px;
    color: white;
    background: #5682a3;
}

#left-side {
    height: 100%;
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #E9EBED;
}

.search {
    border-bottom: 2px solid #E9EBED;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input-wrapper {
    border-radius: 18px;
    border: 2px solid #eeeeee;
    width: 270px;
    display: flex;
    justify-content: center;
}

.search-input-wrapper>input {
    width: 220px;
    height: 29px;
    border: none;
    outline: none;
    border-radius: 18px;
    
}

#chatting-users {
    box-sizing: border-box;
    min-height: 50px;
}

.chatting-user {
    border-bottom: 1px solid rgb(218, 215, 215);
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

div.chatting-user:focus {
    background-color: deeppink;
}

div.chatting-user:hover {
    background-color: darkgreen;
}

div.chatting-user:active {
    background-color: cornflowerblue;
}

#left-side-2 {
    height: 100%;
    overflow: hidden;
}

#hide-online-users {
    cursor: pointer;
    background-image: url("..//assets/back.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-right: 68px;
}

#hide-online-users-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    min-height: 48px;
    background: #5682a3;
    color: white;
    font-size: 18px;
}

#online-users {
    background-color: coral;
    height: 100%;
}

.online-user {
    border-bottom: 1px solid rgb(218, 215, 215);
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

div.online-user:hover {
    background-color: yellow;
}

#right-side {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#right-bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#chatting-area {
    border-bottom: 2px solid #E9EBED;
    height: 100%;
    padding-left: 10px;
    min-height: 50px;
    box-sizing: border-box;
    overflow: hidden;
}

#msg-input {
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#msg-input>input {
    width: 90%;
}

/*------------------------------------------------------------------*/

.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: white;
}

.scrollbar::-webkit-scrollbar {
    width: 0px;
    background-color: lightslategray;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #E9EBED;
}